@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  background: transparent;
  overflow-x: hidden;
}
#root {
  margin: 0;
  padding: 0;
}
